body{
    font-family: 'Courier New', Courier, monospace;
    background-color:pink;
    color: #863c9e;
}

#witnesses button{
    cursor:pointer;
    margin: 5px;
    padding: 10px;
    background-color: #863c9e;
    color:white;
    border: none;
    border-radius: 5px;
}

#witnesses button:hover{
    background-color: bisque;
}

#answerButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border:none;
    border-radius: 5px;
    cursor:pointer;
}

#answerButton:hover{
    background-color: #218838;
}

